name: CI/CD Pipeline

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - 'develop'
  workflow_run:
    workflows: ["CI/CD Pipeline"]
    types:
      - completed

env:
  SERVICE_NAME: "jspace-service"
  IMAGE_NAME: "jspace-service:${{ github.sha }}"
  IMAGE_TAR: "jspace-service.tar"
  DOCKER_HUB_REPO: "hacit1412/jspace-service"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Maven
      uses: actions/setup-java@v2
      with:
        distribution: 'adopt'
        java-version: '17'

    - name: Build with Maven
      run: mvn clean package

    - name: Test with Maven
      run: mvn test

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Login to DockerHub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKER_HUB_USERNAME }}
        password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

    - name: Build and push Docker image
      uses: docker/build-push-action@v2
      with:
        context: .
        push: true
        tags: ${{ env.DOCKER_HUB_REPO }}:${{ github.sha }}

    - name: Remove Docker image
      run: docker rmi ${{ env.IMAGE_NAME }} ${{ env.DOCKER_HUB_REPO }}:${{ github.sha }}
